
<%index = 0%>


<div class="game-date">
  <h2></h2>
</div>
<div class="container">
<div class="column">

  <%while index < @game_data.length%>
  <div class="card">
    <div class="container">

      <div class="away-team">
      <p>
      <%=@game_data[index][:away_team]%>
      <span class="score-box"> <%=@game_data[index][:away_score]%></span>
      </p> 
      </div>
      <div class="bold">
      <p><strong>at</strong></p>
      </div>
      <div class="home-team">
      <p>
      <%=@game_data[index][:home_team]%>
     <span class="score-box"><%=@game_data[index][:home_score]%></span>
      </p>
      </div>
      <div class="bold">
      <p><strong><%=@game_data[index][:game_venue]%></strong></p>
      </div>
      <%
=begin%>
 <p><%=time = @game_data[index][:game_time]%></p> 
<%
=end%>

      

    </div>
    </div>
    <%index += 1%>
  <%end%>
  </div>
  </div>

</div>
  <footer>
  <p>Take me out to the ballgame!</p>
  <p><a href="https://www.mlb.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png" width="75" height="42"></a></p>
</footer>