
<%index = 0%>
<div class="header-image">
<div class="header-text">

<h1>Today's Baseball Games</h1>
</div>
</div>

<div class="game-date">
  <h2><%=@game_data[index][:game_date]%></h2>
</div>

<div class="row">
<div class="column">

  <%while index < @game_data.length%>
  <div class="card">
    <div class="container">

      <div class="away-team">
      <p>
      <%=@game_data[index][:away_team]%>
      <span class="score-box"> <%=@game_data[index][:away_score]%></span>
      </p> 
      </div>
      <div class="bold">
      <p><strong>at</strong></p>
      </div>
      <div class="home-team">
      <p>
      <%=@game_data[index][:home_team]%>
     <span class="score-box"><%=@game_data[index][:home_score]%></span>
      </p>
      </div>
      <div class="bold">
      <p><strong><%=@game_data[index][:game_venue]%></strong></p>
      </div>
      <%
=begin%>
 <p><%=time = @game_data[index][:game_time]%></p> 
<%
=end%>

      

    </div>
    </div>
    <%index += 1%>
  <%end%>
  </div>
  </div>
</div>
  