
<%index = 0%>

<div class="game-date">
  <h2><em><%=@game_data[index][:game_date]%></em></h2>
</div>

<div class="row">
<div class="column">

  <%while index < @game_data.length%>
  <div class="card">
    <div class="container">

      <p>
      <%=@game_data[index][:away_team]%>
      <%=@game_data[index][:away_score]%>
      </p>

      <p><strong>at</strong></p>

      <p>
      <%=@game_data[index][:home_team]%>
      <%=@game_data[index][:home_score]%>
      
      </p>

      <p><%=@game_data[index][:game_venue]%></p>
      <p><%=time = @game_data[index][:game_time]%></p>

  

    </div>
    </div>
    <%index += 1%>
  <%end%>
  </div>
  </div>
</div>
  