<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="mystyle.css">
    <title>MLB Today</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mystyle", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="page-title">
  <h1>Today's Baseball Games</h1>
  </div>
    <%= yield %>
  </body>
</html>
