<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="mystyle.css">
    <title>MLB Today</title>
    <link rel="icon" type="images/x-icon" href="https://icons.veryicon.com/png/o/sport/sports-1/baseball-16.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "mystyle", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
    
   
    </style>
  </head>

  <body>
  <div class="header-image">


<h1>Today's Baseball Games</h1>
<h4><%=DateTime.now.strftime('%A %B %e %Y')%></h4>

</div>
    <%= yield %>
  </body>
</html>
